<div class="min-h-screen xl:flex">
  <div>
    <app-sidebar></app-sidebar>
    <app-backdrop></app-backdrop>
  </div>
  <div class="flex-1 transition-all duration-300 ease-in-out" [ngClass]="{
        'xl:ml-(--sidebar-width)': isExpanded() || isHovered(),
        'xl:ml-(--sidebar-collapsed-width)': !isExpanded() && !isHovered(),
        'ml-0': isMobileOpen()
      }">
    <!-- app header start -->
    <app-header />
    <!-- app header end -->
    <div class="p-(--main-padding) mx-auto max-w-(--breakpoint-3xl)">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>