<app-page-breadcrumb pageTitle="Videos" />
<div class="grid grid-cols-1 gap-5 sm:gap-6 xl:grid-cols-2">
  <div class="space-y-5 sm:space-y-6">
    <div>
      <app-component-card title="Video Relación 16:9">
        <div class="aspect-video overflow-hidden rounded-lg">
          <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="w-full h-full"></iframe>
        </div>
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Video Relación 4:3">
        <div class="aspect-[4/3] overflow-hidden rounded-lg">
          <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="w-full h-full"></iframe>
        </div>
      </app-component-card>
    </div>
  </div>

  <div class="space-y-5 sm:space-y-6">
    <div>
      <app-component-card title="Video Relación 21:9">
        <div class="aspect-[21/9] overflow-hidden rounded-lg">
          <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="w-full h-full"></iframe>
        </div>
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Video Relación 1:1">
        <div class="aspect-square overflow-hidden rounded-lg">
          <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="w-full h-full"></iframe>
        </div>
      </app-component-card>
    </div>
  </div>
</div>