<app-page-breadcrumb pageTitle="Avatares" />
<div class="space-y-5 sm:space-y-6">
  <div>
    <p-card header="Avatares Predeterminados">
      <div class="flex flex-wrap items-end gap-5">
        <p-avatar image="/images/user/user-01.jpg" shape="circle" styleClass="w-6 h-6" />
        <p-avatar image="/images/user/user-01.jpg" shape="circle" styleClass="w-8 h-8" />
        <p-avatar image="/images/user/user-01.jpg" shape="circle" size="normal" />
        <p-avatar image="/images/user/user-01.jpg" shape="circle" size="large" />
        <p-avatar image="/images/user/user-01.jpg" shape="circle" size="xlarge" />
        <p-avatar image="/images/user/user-01.jpg" shape="circle" styleClass="w-24 h-24" />
      </div>
    </p-card>
  </div>

  <div>
    <p-card header="Avatares con Indicadores">
      <div class="flex flex-wrap items-end gap-5">
        <!-- Online -->
        <div class="relative">
          <p-avatar image="/images/user/user-01.jpg" shape="circle" size="large" />
          <span
            class="absolute bottom-0 right-0 w-3 h-3 bg-green-500 border-2 border-white dark:border-gray-800 rounded-full"></span>
        </div>

        <!-- Offline -->
        <div class="relative">
          <p-avatar image="/images/user/user-01.jpg" shape="circle" size="large" />
          <span
            class="absolute bottom-0 right-0 w-3 h-3 bg-gray-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
        </div>

        <!-- Busy -->
        <div class="relative">
          <p-avatar image="/images/user/user-01.jpg" shape="circle" size="large" />
          <span
            class="absolute bottom-0 right-0 w-3 h-3 bg-red-500 border-2 border-white dark:border-gray-800 rounded-full"></span>
        </div>
      </div>
    </p-card>
  </div>
</div>