<app-page-breadcrumb pageTitle="Imágenes" />
<div class="space-y-5 sm:space-y-6">
  <div>
    <p-card header="Imagen Responsiva">
      <div class="relative overflow-hidden border border-gray-200 rounded-xl dark:border-gray-800">
        <p-image src="https://images.unsplash.com/photo-1620712943543-bcc4688e7485?q=80&w=2665&auto=format&fit=crop"
          alt="Imagen Responsiva" width="100%" [preview]="true" styleClass="w-full" />
      </div>
    </p-card>
  </div>

  <div>
    <p-card header="Cuadrícula de 2 Columnas">
      <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
        <div class="overflow-hidden border border-gray-200 rounded-xl dark:border-gray-800">
          <p-image src="https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=2670&auto=format&fit=crop"
            alt="Imagen 1" width="100%" [preview]="true" />
        </div>
        <div class="overflow-hidden border border-gray-200 rounded-xl dark:border-gray-800">
          <p-image src="https://images.unsplash.com/photo-1557683316-973673baf926?q=80&w=2629&auto=format&fit=crop"
            alt="Imagen 2" width="100%" [preview]="true" />
        </div>
      </div>
    </p-card>
  </div>

  <div>
    <p-card header="Cuadrícula de 3 Columnas">
      <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3">
        <div class="overflow-hidden border border-gray-200 rounded-xl dark:border-gray-800">
          <p-image src="https://images.unsplash.com/photo-1550684848-fac1c5b4e853?q=80&w=2670&auto=format&fit=crop"
            alt="Imagen 1" width="100%" [preview]="true" />
        </div>
        <div class="overflow-hidden border border-gray-200 rounded-xl dark:border-gray-800">
          <p-image src="https://images.unsplash.com/photo-1579546929662-711aa81148cf?q=80&w=2670&auto=format&fit=crop"
            alt="Imagen 2" width="100%" [preview]="true" />
        </div>
        <div class="overflow-hidden border border-gray-200 rounded-xl dark:border-gray-800">
          <p-image src="https://images.unsplash.com/photo-1557682250-33bd709cbe85?q=80&w=2629&auto=format&fit=crop"
            alt="Imagen 3" width="100%" [preview]="true" />
        </div>
      </div>
    </p-card>
  </div>
</div>