<div>
  <app-page-breadcrumb pageTitle="Botones" />
  <div class="space-y-5 sm:space-y-6">
    <!-- Primary Button  -->
    <div>
      <app-component-card title="Botón Primario">
        <div class="flex items-center gap-5">
          <p-button label="Texto de Botón" size="small" />
          <p-button label="Texto de Botón" />
        </div>
      </app-component-card>
    </div>
    <!-- Primary Button with Start Icon -->
    <div>
      <app-component-card title="Botón Primario con Icono Izquierdo">
        <div class="flex items-center gap-5">
          <p-button label="Texto de Botón" icon="pi pi-box" size="small" />
          <p-button label="Texto de Botón" icon="pi pi-box" />
        </div>
      </app-component-card>
    </div>
    <!-- Primary Button with Start Icon -->
    <div>
      <app-component-card title="Botón Primario con Icono Derecho">
        <div class="flex items-center gap-5">
          <p-button label="Texto de Botón" icon="pi pi-box" iconPos="right" size="small" />
          <p-button label="Texto de Botón" icon="pi pi-box" iconPos="right" />
        </div>
      </app-component-card>
    </div>
    <!-- Outline Button -->
    <div>
      <app-component-card title="Botón Secundario (Outline)">
        <div class="flex items-center gap-5">
          <!-- Outline Button -->
          <p-button label="Texto de Botón" variant="outlined" severity="secondary" size="small" />
          <p-button label="Texto de Botón" variant="outlined" severity="secondary" />
        </div>
      </app-component-card>
    </div>
    <!-- Outline Button with Start Icon -->
    <div>
      <app-component-card title="Botón Secundario con Icono Izquierdo">
        <div class="flex items-center gap-5">
          <p-button label="Texto de Botón" icon="pi pi-box" variant="outlined" severity="secondary" size="small" />
          <p-button label="Texto de Botón" icon="pi pi-box" variant="outlined" severity="secondary" />
        </div>
      </app-component-card>
    </div>
    <!-- Outline Button with Start Icon -->
    <div>
      <app-component-card title="Botón Secundario con Icono Derecho">
        <div class="flex items-center gap-5">
          <p-button label="Texto de Botón" icon="pi pi-box" iconPos="right" variant="outlined" severity="secondary"
            size="small" />
          <p-button label="Texto de Botón" icon="pi pi-box" iconPos="right" variant="outlined" severity="secondary" />
        </div>
      </app-component-card>
    </div>
  </div>
</div>