<app-page-breadcrumb pageTitle="Tablas Básicas" [items]="[{ label: 'Tablas', url: '/tables' }, { label: 'Básicas' }]" />
<div class="space-y-6">
  <div>
    <p-card header="Basic Table 1">
      <app-basic-table-one />
    </p-card>
  </div>

  <div>
    <p-card header="Basic Table 2">
      <app-basic-table-two />
    </p-card>
  </div>

  <div>
    <p-card header="Basic Table 3">
      <app-basic-table-three />
    </p-card>
  </div>

  <div>
    <p-card header="Basic Table 4">
      <app-basic-table-four />
    </p-card>
  </div>

  <div>
    <p-card header="Basic Table 5">
      <app-basic-table-five />
    </p-card>
  </div>
</div>